body{
    margin: 0.2% 20%;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 15px;

    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1b262c;
    margin-top: 0;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #1b262c;
}


div h1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #4f4f66;
}

a{
    text-decoration: none;
    color: midnightblue;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    color: #4f4f66;  
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 4px;
  }